// 页面最小宽度
$min-width: 1300px;
// 页面最小高度
$min-height: 700px;
// 边框颜色
$border-color: #d9d9d9;

// 主体部分的高度
$wrap-height: 600px;
// 侧边栏宽度
$side-bar-width: 52px;
// 用户列表宽度
$user-list-width: 250px;
// 聊天窗口宽度
$chat-model-width: 600px;
// 公告栏宽度
$notice-boar-width: 250px;
// 搜索条高度
$search-bar-height: 48px;
