@font-face {
  font-family: "iconfont"; /* Project id 3609170 */
  src: url('iconfont.woff2?t=1661350590505') format('woff2'),
       url('iconfont.woff?t=1661350590505') format('woff'),
       url('iconfont.ttf?t=1661350590505') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-robot2:before {
  content: "\e898";
}

.icon-assistant:before {
  content: "\e603";
}

.icon-robot:before {
  content: "\e68c";
}

